<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Lateef" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       <div id="branding">
         <h1><%= link_to "NOBLE", root_path, id: "logo" %></h1>
       </div>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "How We're Different",   static_pages_about_path %></li>
            <li><%= link_to "Log in",                '#' %></li>
            <li><%= link_to "Sign Up",               users_new_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p> FOOTER </p>
    </footer>
  </body>
</html>
