<% provide(:title, 'Sign up') %>
<div class="title_h1">
<h1> Sign Up </h1>
</div>

<div class="sign_up">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: create_user_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :full_name %>:
      <%= f.text_field :full_name, class: 'form-control' %> <br> <br>

      <%= f.label :age %>:
      <%= f.text_field :age %><br> <br>

      <%= f.label :children %>:
      <%= f.text_field :children, :placeholder => "yes or no" %><br> <br>

      <%= f.label :ethnicity %>:
      <%= f.text_field :ethnicity %><br> <br>

      <%= f.label :gender %>:
      <%= f.select :gender, [ 'male','female' ] %> <br> <br>

      <%= f.label :occupation %>:
      <%= f.text_field :occupation %><br> <br>

      <%= f.label :height %>:
      <%= f.text_field :height, :placeholder => "in cm!" %><br> <br>

      <%= f.label :email %>:
      <%= f.email_field :email, class: 'form-control' %> <br> <br>

      <%= f.label :video %>:
      <%= f.file_field :video %><br>
<!--
      <%= f.label :image %>
      <%= f.file_field :image %><br> -->

      <%= f.label :sexual_preference %>:
      <%= f.select :sexual_preference, [ 'male','female' ] %> <br> <br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %> <br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %> <br>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div id="forest"></div>
