<h1> All Profiles </h1>

  <% @user.each do |user| %>

<div>
  <p><%= user.full_name%></p>
  <p><%= user.age %></p>
  <p><%= user.occupation %></p>
  <a href="/users/<%=user.id%>"><img src="<%= user.image.url %>"/>
</a>
</div>

<% end %>
