<!-- Header navbar rendered in application.html.erb, contains currently unused class names -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
   <div id="branding">
     <h1><%= link_to "NOBLE", root_path, id: "logo" %></h1>
   </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "How we're different",   about_path %></li>
        <% if logged_in? %>
          <li class="stats"><%= render 'shared/mywinks' %></li>
          <li><%= link_to "My dating pool", users_path %></li>
          <li><%= link_to "My profile", user_profile_path(@current_user.id) %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>

        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        <% end %>
      </ul>

    </nav>
  </div>
</header>
